/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 30vh;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); opacity: 0; }
  to { transform: rotate(-360deg); opacity: 1; }
}*/




* {
  /*color: black;*/
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

html {
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
}

/* Navigation bar styling */
.login-bg {
  background-image: url("https://images.pexels.com/photos/691114/pexels-photo-691114.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
  width: 100vw;
  height: 100vh;

}

.login-div {
  width: 50vw;
  height: 50vh;
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, .5);
  border-radius: 10px;
  background: rgba(255, 255, 255, .88);
  text-shadow: 0px 0px 24px rgba(0, 0, 0, .5);
  position: absolute;
  top: 30%;
  left: 25%;
}

.login-p {
  display: block;
  font-size: 4vh;
  padding-top: 10vh;
  padding-bottom: 4vh;
}

.registration {
  display: block;
  font-size: 4vh;
  padding-top: 5vh;
  padding-bottom: 4vh;
}


.login-name {
  font-size: 3vh;
}

.login-input {
  display: block;
  font-size: 3vh;
  margin-bottom: 3vh;
}

.navbar {
  font-size: 2.5vw;
  color: white;
  text-shadow: 0px 0px 24px rgba(0, 0, 0, .9);
  background-image: url("https://reactjs.org/logo-og.png");
  background-position: center;
  padding: 10vh;
}

.navbar-links {
  margin-top: 10vh;
}

.navbar > div > a {
  color: white;
  word-spacing: 2vw;
}

.navbar > div > .add-recipes-link {
  word-spacing: 1vw;
}
/* Navigation bar styling */


.recipe-name,
.recipe-img,
.recipes-home {
  cursor: pointer;
}

.recipe-name {
  font-size: 3vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.recipe-name:hover {
  text-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

.recipe-img:hover {
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, .5);
  text-shadow: 0px 0px 24px rgba(0, 0, 0, .5);
}

.rec-img > img {
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, .9);
  margin-bottom: 5vh;
}

.rec-name {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.recipes-home {
  color: black;
}

input {
  display: block;
}

.newrecipe-div {
  width: 50vw;
  height: 50vh;
  border: .1px black solid;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, .5);
  border-radius: 10px;
  background: rgba(255, 255, 255, .88);
  text-shadow: 0px 0px 24px rgba(0, 0, 0, .5);
}

.newrecipe-input {
  font-size: 2.5vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.newrecipe-title {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.rec-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.delete-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ingredients {
  text-align: left;
}

