/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


*/

* {
  color: black;
  text-align: center;
  text-decoration: none;
}

.navbar {
  font-size: 3vw;
}

.recipe-name,
.recipe-img {
  cursor: pointer;
}

.rec-name {

}

.rec-img {
  
}

